## Calculating the Risk of a Security

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                  MSFT        AAPL
Date
2021-10-01  289.100006  142.649994
2021-10-04  283.109985  139.139999
2021-10-05  288.760010  141.110001
2021-10-06  293.109985  142.000000
2021-10-07  296.309998  144.145004

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2021-10-01  0.025149  0.008094
2021-10-04 -0.020937 -0.024913
2021-10-05  0.019760  0.014059
2021-10-06  0.014952  0.006287
2021-10-07  0.010858  0.014993

[3718 rows x 2 columns]

### MSFT

Annual Return:

In [9]:
sec_returns['MSFT'].mean() * 250

0.17529633666513822

Annual risk:

In [10]:
sec_returns['MSFT'].std() * 250 ** 0.5 #raise to the power of 0.5 to take the square root of 250

0.2797835245040644

### Apple

Annual return:

In [11]:
sec_returns['AAPL'].mean() * 250

0.270851800826554

Annual risk:

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5 #raise to the power of 0.5 to take the square root of 250

0.32155223709772035

******

Store the volatilities of the two stocks in an array called “vols”.

In [14]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.175296
AAPL    0.270852
dtype: float64

In [15]:
sec_returns[['MSFT', 'AAPL']].std() * 250 **0.5

MSFT    0.279784
AAPL    0.321552
dtype: float64

Apple has has higher return but also has higher risk.

# Covariance and Correlation

In [17]:
MSFT_var = sec_returns['MSFT'].var()
MSFT_var

0.00031311528233566563

In [18]:
AAPL_var = sec_returns['AAPL'].var()
AAPL_var

0.00041358336473019426

In [19]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.07827882058391641

In [20]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10339584118254856

In [23]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000313  0.000198
AAPL  0.000198  0.000414

In [24]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.078279  0.049493
AAPL  0.049493  0.103396

In [25]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.550131
AAPL  0.550131  1.000000

# Calculating Porfolio Risk

In [26]:
weights = np.array([0.5, 0.5])

In [27]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.07016495757803304

In [28]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.26488668818578454

In [30]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

26.489 %

# Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

In [31]:
weights = np.array([0.5, 0.5])

In [32]:
weights[0]

0.5

In [33]:
weights[1]

0.5

### Diversifiable Risk

In [38]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.07827882058391641

In [39]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10339584118254856

In [40]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.024746292136416794

In [41]:
print (str(round(dr*100, 3)) + ' %')

2.475 %

### Non-Diversifiable Risk

In [42]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.04541866544161624

In [43]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.04541866544161624

In [44]:
n_dr_1 == n_dr_2

True